numpy
pandas
scikit-learn
matplotlib
plotly
dash
torch
torchvision
tensorflow-gpu
keras
opencv-python
wandb
faiss-gpu
scikit-image
pillow
jax
jaxlib
flax
optax
gym
gym[atari]
gym[accept-rom-license]
selenium
bs4
scipy
sympy
